*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    overflow-x: hidden;
}
.logo {
    height: 4rem;
    width: auto;
}

.nav-center {
    display: flex;
    /* padding: 0.5em 1em; */
    background-color: white;
    height: auto;
}

.links {
    display: flex;
    gap: 6em;
    list-style-type: none;
}

.links li {
    margin: auto;
}

.links li a {
    text-decoration: none;
    color: #084236;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5em 1em; */
    font-size: 24px;
    margin-top: 1rem;
    /* font-family: ; */
}

.nav-header {
    display: flex;
    justify-content: space-between;
    gap: 50rem;
}

.links li a:hover {
    /* transform: scale(1.1); */
    color: #C2CA83;
}

a {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 1; */
    font-style: normal;
}

.hero{
    display: flex;
    justify-content: center;
  align-items: center; 
    background-image: url(how_tujijenge_works_images/how_it_works.png);
    /* background-size: cover; */
    background-size: 100% 100%;
    background-position: center;
    width:100vw;
    height: 80vh;
    font-family: nunito;


    
}
.hero p{
font-size: 500%;
color:#C2CA83;
font-weight: bold;
}
.vision-image{
    width: auto;
    height: 20vh;
    float: right;
    /* margin-right: 30vh; */
}
.mission-image{
    width: auto;
    height: 30vh;
    float: left;
    /* margin-left: 20vh; */
}
.mission{
    height: 30vh;
    text-align: right;
    /* border: rgb(128, 95, 91) solid; */
}
.mission h1{
    /* text-align: center; */
    font-size: xxx-large;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.vision{
    height: 30vh;
    text-align: left;
    /* border: salmon solid; */
    
}
.vision h1{
    text-align: center;
    font-size: xxx-large;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.mission-text{
    font-size: x-large;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    width: auto;
    /* border: solid; */
    float: right;
    margin-top: 10vh;
    line-height: 6vh;
   
    justify-content: center;
}
.vision-text{
    font-size: x-large;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    width: auto;
    /* border: solid; */
    float: left;
    margin-top: 10vh;
    line-height: 6vh;

}


section{
    /* padding: 0 50vh; */
    /* border: solid black; */
    width: 60vw;
    transform: translate(30%);
    margin-bottom: 20vh;
}
  footer {
    padding-top: 8vh;
    height: auto;
    width: auto;
    margin: 0;
    background-color: #084236;
    font-family: 'Poppins', sans-serif;
    color: white;
    align-items: center;
    p {
     font-size: 100%;

    }
}
.footer {
    /* justify-content: flex-end; */
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0 1em;
    margin: 0;
    padding-bottom: 5em;
    /* background-color: #084236; */
    color: white;
    font-family: nunito;
    align-items: center;
    
}
.contacts {
    /* margin-top: 2; */
    /* text-align: right; */
    margin-right: 10rem;
    i {
        color: white;
    }
}
.contacts h6{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem; 
    font-family: nunito; 
    color: #C2CA83; 
}
.contacts p {
    color: white;
    margin: 0.5rem 0;
    width: 15em;
    color: #C2CA83;
}

#socials {
    /* text-align: center; */
    color: white;
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1.5rem;
    line-height: 1.5em;
    color: #C2CA83;
    /* right: 0; */
    /* margin-right: 0; */
    a {
        color: white;
    }
    p {
        font-size: medium;
    }
    h6{
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-weight: 400;
    }
    

}

.icons{
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    /* margin-right: 0; */
    i{
        font-size: 0.8rem;
    }
}

@font-face {
    font-family: nunito;
    src: url(fonts-and-images/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: plus;
    src: url(fonts-and-images/PlusJakartaSans-VariableFont_wght.ttf);
}
.underline1{
    width: 8em;
    height: 4px;
    background-color: #084236;
    margin: 0 auto 2rem auto;
    border-radius: 2px;
    
   
}
.underline2{
    width: 8em;
    height: 4px;
    background-color: #084236;
    margin: 0 auto 2rem auto;
    border-radius: 2px;
}
.nav-toggle{
    display: none;
}
.nav-toggle:checked + .nav{
    display: none;
}
@media (max-width: 1500px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }
    body{
        overflow-x: hidden;
    }
    .logo {
        height: 4rem;
        width: auto;
    }
    
    .nav-center {
        display: flex;
        background-color: white;
        height: auto;
    }
   
    
    .links {
        display: flex;
        gap: 6em;
        list-style-type: none;
    }
    
    .links li {
        margin: auto;
    }
    
    .links li a {
        text-decoration: none;
        color: #084236;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0.5em 1em; */
        font-size: 24px;
        margin-top: 1rem;
        /* font-family: ; */
    }
    
    .nav-header {
        display: flex;
        justify-content: space-between;
        gap: 50rem;
    }
    
    .links li a:hover {
        /* transform: scale(1.1); */
        color: #C2CA83;
    }
    
    a {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: 1; */
        font-style: normal;
    }
    
    .hero{
        display: flex;
        justify-content: center;
      align-items: center; 
        background-image: url(how_tujijenge_works_images/how_it_works.png);
        /* background-size: cover; */
        background-size: 100% 100%;
        background-position: center;
        width:100vw;
        height: 80vh;
        font-family: nunito;
    
    
        
    }
    .hero p{
    font-size: 500%;
    color:#C2CA83;
    font-weight: bold;
    }
    .vision-image{
        width: auto;
        height: 20vh;
        float: right;
        /* margin-right: 30vh; */
    }
    .mission-image{
        width: auto;
        height: 30vh;
        float: left;
        /* margin-left: 20vh; */
    }
    .mission{
        height: 30vh;
        text-align: right;
        /* border: rgb(128, 95, 91) solid; */
    }
    .mission h1{
        /* text-align: center; */
        font-size: xxx-large;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
    }
    .vision{
        height: 30vh;
        text-align: left;
        /* border: salmon solid; */
        
    }
    .vision h1{
        text-align: center;
        font-size: xxx-large;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .mission-text{
        font-size: x-large;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        width: auto;
        /* border: solid; */
        float: right;
        margin-top: 10vh;
        line-height: 6vh;
       
        justify-content: center;
    }
    .vision-text{
        font-size: x-large;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        width: auto;
        /* border: solid; */
        float: left;
        margin-top: 10vh;
        line-height: 6vh;
    
    }
    
    
    section{
        /* padding: 0 50vh; */
        /* border: solid black; */
        width: 60vw;
        transform: translate(30%);
        margin-bottom: 20vh;
    }
      footer {
        padding-top: 8vh;
        height: auto;
        width: auto;
        margin: 0;
        background-color: #084236;
        font-family: 'Poppins', sans-serif;
        color: white;
        align-items: center;
        p {
         font-size: 100%;
    
        }
    }
    .footer {
        /* justify-content: flex-end; */
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: 0 1em;
        margin: 0;
        padding-bottom: 5em;
        /* background-color: #084236; */
        color: white;
        font-family: nunito;
        align-items: center;
        
    }
    .contacts {
        /* margin-top: 2; */
        /* text-align: right; */
        margin-right: 10rem;
        i {
            color: white;
        }
    }
    .contacts h6{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem; 
        font-family: nunito; 
        color: #C2CA83; 
    }
    .contacts p {
        color: white;
        margin: 0.5rem 0;
        width: 15em;
        color: #C2CA83;
    }
    
    #socials {
        /* text-align: center; */
        color: white;
        display: block;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 1.5rem;
        line-height: 1.5em;
        color: #C2CA83;
        /* right: 0; */
        /* margin-right: 0; */
        a {
            color: white;
        }
        p {
            font-size: medium;
        }
        h6{
            font-size: 1.5rem;
            margin-bottom: 10px;
            font-weight: 400;
        }
        
    
    }
    
    .icons{
        display: flex;
        gap: 20px;
        /* justify-content: center; */
        align-items: center;
        margin: 0 auto;
        /* margin-right: 0; */
        i{
            font-size: 0.8rem;
        }
    }
    
    @font-face {
        font-family: nunito;
        src: url(fonts-and-images/Nunito-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: plus;
        src: url(fonts-and-images/PlusJakartaSans-VariableFont_wght.ttf);
    }
    .underline1{
        width: 8em;
        height: 4px;
        background-color: #084236;
        margin: 0 auto 2rem auto;
        border-radius: 2px;
        
       
    }
    .underline2{
        width: 8em;
        height: 4px;
        background-color: #084236;
        margin: 0 auto 2rem auto;
        border-radius: 2px;
    }
    .nav-toggle{
        display: none;
    }
    .nav-toggle:checked + .nav{
        display: none;
    }
}


@media (max-width: 800px) {
   
   body{
    overflow-x: hidden;
   }
    .nav-toggle{
        /* display:contents; */
        /* color: black; */
        display: flex;
        /* float: right; */
        position:absolute;
        right: 20px;
        /* left: 20px; */
        top: 20px;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        color:  #084236;
    }
    .links{
        display: none;
        flex-direction: column;
        width: 100vw;
        margin-top: 4em;
        position: absolute;
        top: 2.1em;
        left: 0;
        background: rgb(247, 244, 244);
        padding: 1em;
        border-radius: 0 0 10px;
        height: auto;
        overflow-y: auto;
        object-fit: contain;
    }
    .links.show-links{
        display: block;
    }
    .list{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
        width: auto;
    
    }
  
    .nav-center{
        flex-direction: row;
        width: 10em;
        /* justify-content: space-between; */
    }
    .nav-header{
        width: 40em;
    }
    
    .hero{
        display: flex;
        justify-content: center;
      align-items: center; 
        background-image: url(how_tujijenge_works_images/how_it_works.png);
        /* background-size: cover; */
        background-position: center;
        width:100vw;
        height: 50vh;
        font-family: nunito;
    
    
        
    }
    .hero p{
    font-size: 50px;
    color:#C2CA83;
    font-weight: bold;
    }
    .vision-image{
        width: auto;
        height: 15vh;
        /* float: right; */
        /* margin-right: 30vh; */
    }
    .mission-image{
        width: auto;
        height: 20vh;
        /* float: left; */
        /* margin-left: 20vh; */
    }
    .mission{
        height: 30vh;
        text-align: right;
        /* border: rgb(128, 95, 91) solid; */
    }
    .mission h1{
        /* text-align: center; */
        font-size: 30px;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
    }
    .vision{
        height: 30vh;
        text-align: center;
        /* border: salmon solid; */
        
    }
    .vision h1{
        text-align: center;
        font-size: 30px;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .mission-text{
        font-size: 20px;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        width: auto;
        /* border: solid; */
        float: right;
        margin-top: 10vh;
        line-height: 6vh;
       
        justify-content: center;
    }
    .vision-text{
        font-size: 20px;;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        width: auto;
        /* border: solid; */
        float: left;
        margin-top: 10vh;
        line-height: 6vh;
    
    }
    main{
        height:auto;
    }
    
    
    section{
        /* padding: 0 50vh; */
        /* border: solid black; */
        width: 60vw;
        transform: translate(30%);
        margin-bottom: 20vh;
        height: auto;
    }
      footer {
        padding-top: 8vh;
        height: auto;
        width: auto;
        margin: 0;
        margin-top: 20em;
        background-color: #084236;
        font-family: 'Poppins', sans-serif;
        color: white;
        align-items: center;
        p {
         font-size: 100%;
    
        }
    }
    .footer {
        /* justify-content: flex-end; */
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: 0 1em;
        margin: 0;
        padding-bottom: 5em;
        /* background-color: #084236; */
        color: white;
        font-family: nunito;
        align-items: center;
        
    }
    .contacts {
        /* margin-top: 2; */
        /* text-align: right; */
        margin-right: 10rem;
        i {
            color: white;
        }
    }
    .contacts h6{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem; 
        font-family: nunito; 
        color: #C2CA83; 
    }
    .contacts p {
        color: white;
        margin: 0.5rem 0;
        width: 15em;
        color: #C2CA83;
    }
    
    #socials {
        /* text-align: center; */
        color: white;
        display: block;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 1.5rem;
        line-height: 1.5em;
        color: #C2CA83;
        /* right: 0; */
        /* margin-right: 0; */
        a {
            color: white;
        }
        p {
            font-size: medium;
        }
        h6{
            font-size: 1.5rem;
            margin-bottom: 10px;
            font-weight: 400;
        }
        
    
    }
    
    .icons{
        display: flex;
        gap: 20px;
        /* justify-content: center; */
        align-items: center;
        margin: 0 auto;
        /* margin-right: 0; */
        i{
            font-size: 0.8rem;
        }
    }
    
    @font-face {
        font-family: nunito;
        src: url(fonts-and-images/Nunito-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: plus;
        src: url(fonts-and-images/PlusJakartaSans-VariableFont_wght.ttf);
    }
    .underline1{
        width: 8em;
        height: 4px;
        background-color: #084236;
        margin: 0 auto 2rem auto;
        border-radius: 2px;
        
       
    }
    .underline2{
        width: 8em;
        height: 4px;
        background-color: #084236;
        margin: 0 auto 2rem auto;
        border-radius: 2px;
    }


}
@media (max-width: 576px) {

    }